.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    &-container {
        width: 100%;
        max-width: 1440px;
        margin: 20px 0px 100px 0px;
    }
    &-list {
        display: flex;
        gap: 40px;
        margin-bottom: 50px;
    }
    &-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &-item.active {
        border: 1px solid white;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
    }
    &-desc {
        margin: 20px 0px;
    }
    &-btn {
        background-color: #0071c2;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    &-search {
        height: 30px;
        background-color: white;
        border: 3px solid #febb02;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px 0px;
        border-radius: 8px;
        position: absolute;
        bottom: -20px;
        width: 100%;
        max-width: 1440px;
    }
    &-icon {
        color: lightgray;
    }
}
